
        header {
            background-color: linen;
            text-align: center;
            font-family: Arial Black
        }

        main {
            position: relative
        }

        h1 {
            background-color: Blue;
            text-align: left;
            font-family: Arial
        }

        nav {
            background-color: gray;
            text-align: center;
            margin-right: 1000px;
            font-family: Arial
        }

        aside {
            background-color: yellow;
            position: absolute;
            right: 0;
            font-family: Arial
        }

        .teste {
            width: 100%;
            background-color: red;
            display: grid;
            grid-template-columns: 2fr 2fr 1fr;
        }

        .grid {
            padding: 3px;

        }
