* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d1d1d1;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 300px;
    background-color: #fff;
    padding: 30px;
    border: none;
    border-radius: 10px;
}

.container h1 {
    position: absolute;
    top: 60px;
    color: teal;
}

.container form {
    width: 100%;
    display: flex;
    gap: 20px;
}

.container form input {
    border: none;
    background-color: teal;
    color: #fff;
    border-radius: 16px;
    padding: 12px;
    font-size: 21px;
    cursor: pointer;
    width: 100%;
    margin-top: 80px;
}